body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding:40px;
}

textarea{
width:90%;
height:100px;
padding:10px;
border-radius:6px;
border:none;
}

button{
background:red;
color:white;
padding:12px 25px;
border:none;
border-radius:6px;
font-size:18px;
cursor:pointer;
}

.box{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.paybox{
background:#1e293b;
padding:15px;
margin-bottom:20px;
border-radius:10px;
}
